<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>MasterServlet</servlet-name>
  	<servlet-class>com.revature.servlets.MasterServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MasterServlet</servlet-name>
  	<url-pattern>*.change</url-pattern>
  	<url-pattern>/api/*</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ReimbursementServletObj</servlet-name>
  	<servlet-class>com.revature.servlets.ManagerReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReimbursementServletObj</servlet-name>
  	<url-pattern>/managerreimserv</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReimbursementServletObj2</servlet-name>
  	<servlet-class>com.revature.servlets.EmployeeReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReimbursementServletObj2</servlet-name>
  	<url-pattern>/employeereimserv</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReimbursementPendingServlet</servlet-name>
  	<servlet-class>com.revature.servlets.pendingReimsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReimbursementPendingServlet</servlet-name>
  	<url-pattern>/pendingreimserv</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReimbursementApprovedServlet</servlet-name>
  	<servlet-class>com.revature.servlets.approvedReimsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReimbursementApprovedServlet</servlet-name>
  	<url-pattern>/approvedreimserv</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReimbursementDeniedServlet</servlet-name>
  	<servlet-class>com.revature.servlets.deniedReimsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReimbursementDeniedServlet</servlet-name>
  	<url-pattern>/deniedreimserv</url-pattern>
  </servlet-mapping>
</web-app>